.buttons {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .prevButton:not(:disabled) {
    color: #ffffff;
    background-color: transparent;
    border: none;

    &:hover {
      color: #f3ba4f;
    }
  }
  .nextButton:not(:disabled) {
    color: #ffffff;
    background-color: transparent;
    border: none;

    &:hover {
      color: #f3ba4f;
    }
  }
  button:disabled {
    background-color: transparent;
    border: none;
    color: #ffffff40;
  }
  .pagination {
    display: flex;
    gap: 8px;
    .paginationItem {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #ffffff40;
      transition: background-color 250ms ease-in;
    }
    .paginationActiveItem {
      background-color: #ffffff;
    }
  }
  .nextIconButton {
    color: inherit;
    transform: rotate(180deg);
    transition: color 250ms ease-in;
  }
  .prevIconButton {
    color: inherit;
    transition: color 250ms ease-in;
  }
}

@media screen and (min-width: 1110px) and (max-width: 1440px) {
  .buttons {
    justify-content: space-between;
    .prevButton {
      cursor: pointer;
    }
    .nextButton {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1440px) {
  .buttons {
    justify-content: center;
    .prevButton {
      bottom: 265px;
      position: absolute;
      left: 9px;

      z-index: 3;
    }
    .nextButton {
      position: absolute;
      right: 9px;

      z-index: 3;
      bottom: 265px;
    }
  }
}
