.container {
  margin-top: 39px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 29px;
  }
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-top: 64px;

    .cardContainer {
      display: flex;
      flex-wrap: wrap;
      column-gap: 28px;
      row-gap: 49px;

      .card {
        width: calc((100% - 75px) / 4);
      }
    }
  }
}
