.card {
  background-color: #222222;
  border-radius: 12px;
  width: 100%;
  .topContent {
    padding: 18px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    .mainContent {
      display: flex;
      gap: 24px;
      margin-right: 13px;
      .data {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .name {
          font-family: var(--second-family);
          font-weight: 600;
          font-size: 18px;
          line-height: 100%;
          color: #fff;
        }
        .weight {
          font-family: var(--second-family);
          font-weight: 500;
          font-size: 13px;
          line-height: 100%;
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
    .icon {
      color: #fcb852;
      cursor: pointer;
      transition: color 250ms ease-in;

      &:hover,
      &:active {
        color: #fff;
      }
    }
  }
  .bottomContent {
    border-top: 1px solid #000;
    padding: 11px 18px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 26px;
      line-height: 100%;
      color: #fff;
    }
    .counter {
      border-radius: 23px;
      border: 1px solid #fff;
      padding: 9px 12px;
      display: flex;
      align-items: center;
      gap: 22px;
      width: fit-content;

      .counterItem {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        color: #fff;
      }

      .counterButton {
        padding: 0;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        transition: color 250ms ease-in;
        cursor: pointer;
        &:hover,
        &:active {
          color: #fcb852;
        }
      }
    }
  }
}
