:root {
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: #000000;
  color: #ffffff;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  width: 375px;
  padding: 0 20px;
  margin: 0 auto;
  padding-bottom: 115px;
}
.best-sellers-swiper {
  width: 335px;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 1110px) {
  .container {
    width: 100%;
    max-width: 1440px;
    padding: 0 82px;
    padding-bottom: 115px;
  }
}
