:root {
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: #000000;
  color: #ffffff;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  position: relative;
  width: 375px;
  padding: 82px 20px 116px 20px;
  margin: 0 auto;
}
.best-sellers-swiper {
  width: 335px;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 127px 82px 131px 82px;
  }
}
